body {
    margin: 20px;
    font-family: 'Tahoma', sans-serif;
    background-color: white;
    color: black;
    transition: 0.3s;
}


header, footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.image-arrondie {
  border-radius: 200px; /* arrondi des coins */
}

#cart div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

    .btn {
        padding: 12px 25px;
        background: black;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 18px;
        transition: 0.2s;
    }

    .btn:hover {
        background: white;
        color: black;
        text-decoration: underline;
    }

.bloc {
    width: 40%;        /* Le bloc occupe 40% de la largeur de la page */
    margin: 0 auto;    /* Centrer le bloc horizontalement */
    background: black;
    padding: 10px;
    text-align: center;
    background: rgba(0,0,0,0.3); /* fond semi-transparent */
    border: 3px solid black; /* bordure noire de 2px */
}

button {
        padding: 10px 20px;
        background: black;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 18px;
        transition: 0.2s;
}

button:hover {
        background: white;
        color: black;
        text-decoration: underline;
    }

#qr {
    width: 100px;          /* Taille */
    height: 100px;
    border: 2px solid #000; /* Bordure */
    border-radius: 15px;    /* Bords arrondis */
    padding: 8px;          /* Espace autour */
    background: white;      /* Fond */
    box-shadow: 0 4px 10px rgba(0,0,0,0); /* Ombre */
}

#searchBar {
    width: 300px;           /* Largeur de la barre */
    padding: 10px 15px;     /* Espacement interne */
    border: 2px solid #ccc; /* Bordure grise */
    border-radius: 10px;     /* Coins arrondis */
    font-size: 16px;        /* Taille du texte */
    outline: none;          /* Supprime le contour bleu au focus par défaut */
    transition: 0.3s;       /* Animation douce pour hover/focus */
}


